.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  gap: 20px;
}
.gallery-link:hover {
  cursor: url(../img/icons/bxs_hand-down.png), pointer;
}
